@model DateTime?
<div class='input-group date datePicker'>
    <span class="input-group-sm">
        @Html.TextBox("", Model.HasValue ? Model.Value.ToString("MM/dd/yyyy") :"", new { })
    </span>
</div>
