@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The School has a strength of 1000 thousand students. We follow the best studying trend to equip our students with latest technology and features. 
    RDMPS have been serving Badarpur for 20 years and has become one of the eminent school in the area. Students passed out are there in various part of
    the world living their dream. RDMPS not only a place to make your dream come true but also teaches what to dream of. Well qualified of school help
    kids learn new things to face challenges out there.
</p>
